
/* Medium devices (tablets, 768px) */
@media (max-width: 768px) {
    .single-product-cards {
    width: 60%;
    }
}

/* Small devices (landscape phones, 576px) */
@media (max-width: 576px) {
    .nav-home {
    display: flex;
    flex-direction: column;
    }

    .single-product-cards {
    width: 90%;
    }
}

