
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .single-product-cards {
        flex-direction: column;
        width: 60%;
    }

    .div-infos {
        width: 100%;
        align-items: center;
    }

    .div-infos .product-description {
        text-align: center;
    }

    .div-camera {
        width: 100%;
    }
    #basket-content {
        flex-direction: column;
        align-items: center;
    }

    .basket-cards {
        width: 60%;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    
    .single-product-cards {
    width: 80%;
    }
}

